body{
	background-color:#80ff80;
	margin:0;
	text-align: center;
	font-family: 'Nova Mono', monospace, san-sarif;
}
.container{
	position:relative;
}

h1{
	font-family: 'Lobster', cursive, san-sarif;
}

h2{
	font-family: 'Lobster Two', cursive, san-sarif;
}

h3{
	font-family: 'Coda', cursive;
}
a{
	color:white;
}
p{
	font-family: 'Baloo 2', cursive, san-sarif;
}


.navbar{
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index: 1;
}

.bars{
	background-color:#bfbfbf;
	color:white;
	text-decoration:none;
	height:1.5em;
	display:inline-block;
}

.burger{
	position:absolute;
	left:1em;
	top:0.3em;
}

.communication{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background-color:black;
}